.productlist-container {
  display: flex;
  text-align: left;
  color: var(--text-color);
  padding: 30px;
  flex-direction: column;
  align-items: center;

  .product-grid {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 80px;
    margin: 30px 0px;
    padding: 0;
  }

  @media screen and (max-width: 1300px) {
    .product-grid {
      max-width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 60px;
      margin: 0;
    }
  }

  @media screen and (max-width: 1800px) and (min-width: 1300px) {
    .product-grid {
      max-width: 1500px;
    }
  }
}