@import '../../theme.scss';

.productlist-container {
    display: flex;
    text-align: left;
    color: var(--text-color);
    padding: 30px;
    flex-direction: column;
    align-items: center;


.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
    padding: 0;
}
}