@import "./component/Basket/basket.scss";
@import "./component/Button/button.scss";
@import "./component/Header/header.scss";
@import "./component/NavBar/navbar.scss";
@import "./component/Product/product.scss";
@import "./component/ProductsList/productsList.scss";
@import "./component/ThemeSwitcher/themeSwitcher.scss";
@import "./page/Cart/cart.scss";
@import "./page/UserProfile/userProfile.scss";
@import "./assets/style/theme.scss";
@import "./assets/style/main.scss";