:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: rgb(178, 178, 178);
  --primary-color: #eab023;
  --faded-primary-color: #eab22378;
  --secondary-color: #c0c0c0;
  --error-color: #b00020;
  --validation-color: rgb(4, 107, 4);
}

body.dark-mode {
  transition: color .8s, background-color .8s;
  --background-color: #444444;
  --text-color: rgb(225, 225, 225);
  --secondary-text-color: rgb(96, 96, 96);
  --primary-color: #242424;
  --faded-primary-color: #717171bf;
  --secondary-color: #03dac6;
  --error-color: #cf6679;
  --validation-color: rgb(0, 164, 0);
}