.product-container {
  display: flex;
  gap: 20px;
  width: 100%;

  .img-container {
    min-width: 270px;
    display: flex;
    height: initial;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

    img {
      max-width: 250px;
      max-height: 250px;
      height: 100%;
      object-fit: contain;
    }
  }

  .product-informations {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .product-title {
      display: inline;
      margin-right: 10px;
    }
    .category-card {
      display: inline;
      text-wrap: nowrap;
      padding: 0 10px;
      border-radius: 3px;
      background-color: var(--secondary-text-color);
      width: fit-content;
      font-size: 12px;
    }
    .qty-counter {
      display: flex;
      align-items: center;
      .qty-text {
        display: flex;
        padding: 0 10px;
      }
      .qty-btn {
        padding: 0 8px;
        background-color: transparent;
        font-size: 1em;
      }
      .qty-btn:hover {
        background-color: var(--faded-primary-color);
        transform: scale(1);
      }
      .less-btn {
        margin-left: 15px;
      }
      .product-list-qty input[type=number]::-webkit-inner-spin-button, 
      .product-list-qty input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance: none;
      }
      > input {
        max-width: 30px;
        text-align: center;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .product-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .product-container {
    width: 90%;
    .img-container {
      min-width: 90%;
      img {
        max-width: 80%;
        max-height: auto;
      }
    }
  }
}